{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }}Magazine{% endblock %}

{% block content %}


<div class="container">

      <div class="row row1  well well1">

          <div class="container">
              <div class="col-xs-12 col-sm-6 col-sm-66  col-md-6 col-md-66 col-lg-6 col-lg-66"><!--/.-->
                    <h3><span class="label label-default">{{ articles.heading_one }}</span></h3>
                    <img class="thumbnail thumbnail1" src="{{ articles.image_one.url }}" height=200 width=350 alt="20x20">
                <p ><strong>{{ articles.question }}</strong></p>
                <p class="p-color ">{{ articles.h1_paragraph_one }}</p>
                <p class="p-color ">{{ articles.h1_paragraph_two }}</p>
                <p class="p-color ">{{ articles.h1_paragraph_three }}</p>
                <p ><strong>{{ articles.answer }}</strong></p>
                <p class="p-color ">{{ articles.h1_paragraph_four }}</p>
                <p class="p-color ">{{ articles.h1_paragraph_five }}</p>
                <p class="p-color ">{{ articles.h1_paragraph_six }}</p>
                <p class="p-color ">{{ articles.h1_paragraph_seven }}</p>
                <p class="p-color ">{{ articles.h1_paragraph_eight }}</p>
                <p class="p-color ">{{ articles.h1_paragraph_nine }}</p>
                <p class="p-color ">{{ articles.h1_paragraph_ten }}</p>
                <p><a class="btn btn-default" href="#" role="button">Read more &raquo;</a></p>
              </div><!--/.sidebar-module-->
              <div class="col-xs-12 col-sm-6 col-sm-66  col-md-6 col-md-66 col-lg-6 col-lg-66"><!--/.sidebar-module-->
                    <h3><span class="label label-default">{{ articles.heading_two }}</span></h3>
                    <img class="thumbnail thumbnail1" src="{{ articles.image_one.url }}" height=200 width=350 alt="20x20">
                <p ><strong>{{ articles.h2_sub_heading_one }}</strong></p>
                <p class="p-color ">{{ articles.h2_paragraph_one }}</p>
                <p class="p-color ">{{ articles.h2_paragraph_two }}</p>
                <p class="p-color ">{{ articles.h2_paragraph_three }}</p>
                <p ><strong>{{ articles.h2_sub_heading_two }}</strong></p>
                <p class="p-color ">{{ articles.h2_paragraph_four }}</p>
                <p class="p-color ">{{ articles.h2_paragraph_five }}</p>
                <p class="p-color ">{{ articles.h2_paragraph_six }}</p>
                <p ><strong>{{ articles.h2_sub_heading_three }}</strong></p>
                <p class="p-color ">{{ articles.h2_paragraph_seven }}</p>
                <p class="p-color ">{{ articles.h2_paragraph_eight }}</p>
                <p class="p-color ">{{ articles.h2_paragraph_nine }}</p>
                <p ><strong>{{ articles.h2_sub_heading_four }}</strong></p>
                <p class="p-color ">{{ articles.h2_paragraph_ten }}</p>
                <p class="p-color ">{{ articles.h2_paragraph_eleven }}</p>
                <p class="p-color ">{{ articles.h2_paragraph_twelve }}</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
              </div><!--/.sidebar-module-->
          </div>
          <div class="container">
              <div class="col-xs-12 col-sm-6 col-sm-66  col-md-6 col-md-66 col-lg-6 col-lg-66"><!--/.sidebar-module-->
                    <h3><span class="label label-default">{{ articles.heading_three }}</span></h3>
                    <img class="thumbnail thumbnail1" src="{{ articles.image_three.url }}" height=200 width=350 alt="20x20">
                <p ><strong>{{ articles.h3_sub_heading_one }}</strong></p>
                <p class="p-color ">{{ articles.h3_paragraph_one }}</p>
                <p class="p-color ">{{ articles.h3_paragraph_two }}</p>
                <p class="p-color ">{{ articles.h3_paragraph_three }}</p>
                <p ><strong>{{ articles.h3_sub_heading_two }}</strong></p>
                <p class="p-color ">{{ articles.h3_paragraph_four }}</p>
                <p class="p-color ">{{ articles.h3_paragraph_five }}</p>
                <p class="p-color ">{{ articles.h3_paragraph_six }}</p>
                <p ><strong>{{ articles.h3_sub_heading_three }}</strong></p>
                <p class="p-color ">{{ articles.h3_paragraph_seven }}</p>
                <p class="p-color ">{{ articles.h3_paragraph_eight }}</p>
                <p class="p-color ">{{ articles.h3_paragraph_nine }}</p>
                <p ><strong>{{ articles.h3_sub_heading_four }}</strong></p>
                <p class="p-color ">{{ articles.h3_paragraph_ten }}</p>
                <p class="p-color ">{{ articles.h3_paragraph_eleven }}</p>
                <p class="p-color ">{{ articles.h3_paragraph_twelve }}</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
              </div><!--/.sidebar-module-->
              <div class="col-xs-12 col-sm-6 col-sm-66  col-md-6 col-md-66 col-lg-6 col-lg-66"><!--/.sidebar-module-->
                    <h3><span class="label label-default">{{ articles.heading_four }}</span></h3>
                    <img class="thumbnail thumbnail1" src="{{ articles.image_four.url }}" height=200 width=350 alt="20x20">
                <p ><strong>{{ articles.h4_sub_heading_one }}</strong></p>
                <p class="p-color ">{{ articles.h4_paragraph_one }}</p>
                <p class="p-color ">{{ articles.h4_paragraph_two }}</p>
                <p class="p-color ">{{ articles.h4_paragraph_three }}</p>
                <p ><strong>{{ articles.h4_sub_heading_two }}</strong></p>
                <p class="p-color ">{{ articles.h4_paragraph_four }}</p>
                <p class="p-color ">{{ articles.h4_paragraph_five }}</p>
                <p class="p-color ">{{ articles.h4_paragraph_six }}</p>
                <p ><strong>{{ articles.h4_sub_heading_three }}</strong></p>
                <p class="p-color ">{{ articles.h4_paragraph_seven }}</p>
                <p class="p-color ">{{ articles.h2_paragraph_eight }}</p>
                <p class="p-color ">{{ articles.h2_paragraph_nine }}</p>
                <p ><strong>{{ articles.h2_sub_heading_four }}</strong></p>
                <p class="p-color ">{{ articles.h4_paragraph_ten }}</p>
                <p class="p-color ">{{ articles.h4_paragraph_eleven }}</p>
                <p class="p-color ">{{ articles.h4_paragraph_twelve }}</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
              </div><!--/.sidebar-module-->
          </div>
          <div class="container">
              <div class="col-xs-12 col-sm-6 col-sm-66  col-md-6 col-md-66 col-lg-6 col-lg-66"><!--/.sidebar-module-->
                    <h3><span class="label label-default">{{ articles.heading_five }}</span></h3>
                    <img class="thumbnail thumbnail1" src="{{ articles.image_five.url }}" height=200 width=350 alt="20x20">
                <p ><strong>{{ articles.h5_sub_heading_one }}</strong></p>
                <p class="p-color ">{{ articles.h5_paragraph_one }}</p>
                <p class="p-color ">{{ articles.h5_paragraph_two }}</p>
                <p class="p-color ">{{ articles.h5_paragraph_three }}</p>
                <p ><strong>{{ articles.h5_sub_heading_two }}</strong></p>
                <p class="p-color ">{{ articles.h5_paragraph_four }}</p>
                <p class="p-color ">{{ articles.h5_paragraph_five }}</p>
                <p class="p-color ">{{ articles.h5_paragraph_six }}</p>
                <p ><strong>{{ articles.h5_sub_heading_three }}</strong></p>
                <p class="p-color ">{{ articles.h5_paragraph_seven }}</p>
                <p class="p-color ">{{ articles.h5_paragraph_eight }}</p>
                <p class="p-color ">{{ articles.h5_paragraph_nine }}</p>
                <p ><strong>{{ articles.h5_sub_heading_four }}</strong></p>
                <p class="p-color ">{{ articles.h5_paragraph_ten }}</p>
                <p class="p-color ">{{ articles.h5_paragraph_eleven }}</p>
                <p class="p-color ">{{ articles.h5_paragraph_twelve }}</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
              </div><!--/.sidebar-module-->
              <div class="col-xs-12 col-sm-6 col-sm-66  col-md-6 col-md-66 col-lg-6 col-lg-66"><!--/.sidebar-module-->
                    <h3><span class="label label-default">{{ articles.heading_six }}</span></h3>
                <img class="thumbnail thumbnail1" src="{{ articles.image_six.url }}" height=200 width=350 alt="20x20">
                <p ><strong>{{ articles.h6_sub_heading_one }}</strong></p>
                <p class="p-color ">{{ articles.h6_paragraph_one }}</p>
                <p class="p-color ">{{ articles.h6_paragraph_two }}</p>
                <p class="p-color ">{{ articles.h6_paragraph_three }}</p>
                <p ><strong>{{ articles.h6_sub_heading_two }}</strong></p>
                <p class="p-color ">{{ articles.h6_paragraph_four }}</p>
                <p class="p-color ">{{ articles.h6_paragraph_five }}</p>
                <p class="p-color ">{{ articles.h6_paragraph_six }}</p>
                <p ><strong>{{ articles.h6_sub_heading_three }}</strong></p>
                <p class="p-color ">{{ articles.h6_paragraph_seven }}</p>
                <p class="p-color ">{{ articles.h6_paragraph_eight }}</p>
                <p class="p-color ">{{ articles.h6_paragraph_nine }}</p>
                <p ><strong>{{ articles.h6_sub_heading_four }}</strong></p>
                <p class="p-color ">{{ articles.h6_paragraph_ten }}</p>
                <p class="p-color ">{{ articles.h6_paragraph_eleven }}</p>
                <p class="p-color ">{{ articles.h6_paragraph_twelve }}</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
              </div><!--/.sidebar-module-->
          </div>
 </div><!--/.row well well1-->

 </div>

{% endblock content %}
