{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}


<div class="text-center">
    <h2><span class="label label-default">Fill out the form with the job's details:</span></h2>
</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form method="post" action="">{% csrf_token %}
            {{ form | crispy }}
            <p><button class="btn btn-primary btn-block" type="submit" role="button">Post</button></p>

        </form>
    </div>
</div>

{% endblock %}
