{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ block.super }}Profile{% endblock %}

{% block content %}

<div class="container profile-head">
  <div class="row">
    <div class="col-sm-10">
      <h1>{{ show_user.get_full_name }}</h1>
      {% if editable %}
      <a href="{% url 'profiles:edit_self' %}" class="btn btn-info">Edit Profile</a>
      {% endif %}
    </div>
    {% if show_user.profile.picture %}
    <div class="col-sm-2"><img title="profile picture" class="img-circle img-responsive" src="{% thumbnail show_user.profile.picture|default:'default_profile.png' 140x140 crop %}">
    </div>
    {% endif %}
  </div>
</div>

<div class="container profile-body">
  <div class="row row4">
    <div class="col-sm-4">
      <ul class="list-group">
        <li class="list-group-item text-center"><strong>SCHOOL INFO</strong></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>School</strong></span> {{ show_user.profile.school }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>School Phone</strong></span> {{ show_user.profile.school_phone }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>School Email</strong></span> {{ show_user.profile.school_email }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>School Website</strong></span> {{ show_user.profile.website }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Location</strong></span> {{ show_user.profile.location }}</li>
        <li class="list-group-item text-center"><strong>MY INFO</strong></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Phone</strong></span> {{ show_user.profile.user_phone }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Email:</strong></span> {{ show_user.email|default:"missing" }}
	  {% if show_user.profile.email_verified %}
	    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true" title="This email address has been verified"></span>
	    <span class="sr-only">Verified</span>
	  {% else %}
	    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true" title="This email address is not verified"></span>
	    <span class="sr-only">Not Verified</span>
	  {% endif %}
	</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span> {{ show_user.date_joined }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Last seen</strong></span> {{ show_user.last_login }}</li>
      </ul>

	  {% if show_user.profile.career1 %}
      <ul class="list-group">
        <li class="list-group-item text-center"><strong>CAREER OPTIONS</strong></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>First Career Option</strong></span> {{ show_user.profile.career1 }}</li>
	  {% endif %}
	  {% if show_user.profile.career2 %}
        <li class="list-group-item text-right"><span class="pull-left"><strong>Second Career Option</strong></span> {{ show_user.profile.career2 }}</li>
	  {% endif %}
	  {% if show_user.profile.career3 %}
        <li class="list-group-item text-right"><span class="pull-left"><strong>Third Career Option</strong></span> {{ show_user.profile.career3 }}</li>
      </ul>
	  {% endif %}
    </div>
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">
    <h4><strong>{{ show_user.get_full_name }}'s Profile</strong>
	  {% if show_user.profile.slug %}
	    <a href="{% url 'profiles:show' show_user.profile.slug %}">
	    	<span class="glyphicon glyphicon-link" aria-hidden="true" title="Profile permalink"></span>
	    	<span class="sr-only">Permalink</span></a> {{ show_user.profile.get_absolute_url }}
	  {% else %}
		<a href="https://github.com/arocks/edge/issues/40" target="_blank"><span>No permalink. See this issue.</span></a>
	  {% endif %}
    </h4>
	</div>
        <div class="panel-body">
                <span class="p-color text-center">
            <strong> <p> BASIC REVISION RESOURCES </p> </strong>
                </span>

                <div class="text-center">
                    <a href="{% url 'membership:basic_form1_exams' %}" class="btn btn-info"><strong>Form One</strong></a> 
                    <a href="{% url 'membership:basic_form2_exams' %}" class="btn btn-info"><strong>Form Two</strong></a> 
                    <a href="{% url 'membership:basic_form3_exams' %}" class="btn btn-info"><strong>Form Three</strong></a> 
                    <a href="{% url 'membership:basic_form4_exams' %}" class="btn btn-info"><strong>Form Four</strong></a> 
                </div>
                <br />
                <span class="p-color text-center">
            <strong> <p> PREMIUM REVISION RESOURCES </p> </strong>
                </span>

                <div class="text-center">
                    <div class="well">
                        <p>
                        <span class="p-color">
                            <strong>FORM ONE</strong> 
                        </span>
                        </p>
                    <div class="text-center">
                        <a href="{% url 'membership:form1_cat1' %}" class="btn btn-info"><strong>CAT1</strong></a> 
                        <a href="{% url 'membership:form1_cat2' %}" class="btn btn-info"><strong>CAT2</strong></a> 
                        <a href="{% url 'membership:form1_cat3' %}" class="btn btn-info"><strong>CAT3</strong></a> 
                        <a href="{% url 'membership:form1_end_term' %}" class="btn btn-info"><strong>END TERM EXAM</strong></a> 
                    </div>
                    </div>
                    <div class="well">
                        <p>
                        <span class="p-color">
                            <strong>FORM TWO</strong> 
                        </span>
                        </p>
                    <div class="text-center">
                        <a href="{% url 'membership:form2_cat1' %}" class="btn btn-info"><strong>CAT1</strong></a> 
                        <a href="{% url 'membership:form2_cat2' %}" class="btn btn-info"><strong>CAT2</strong></a> 
                        <a href="{% url 'membership:form2_cat3' %}" class="btn btn-info"><strong>CAT3</strong></a> 
                        <a href="{% url 'membership:form2_end_term' %}" class="btn btn-info"><strong>END TERM EXAM</strong></a> 
                    </div>
                    </div>
                    <div class="well">
                        <p>
                        <span class="p-color">
                            <strong>FORM THREE</strong> 
                        </span>
                        </p>
                    <div class="text-center">
                        <a href="{% url 'membership:form3_cat1' %}" class="btn btn-info"><strong>CAT1</strong></a> 
                        <a href="{% url 'membership:form3_cat2' %}" class="btn btn-info"><strong>CAT2</strong></a> 
                        <a href="{% url 'membership:form3_cat3' %}" class="btn btn-info"><strong>CAT3</strong></a> 
                        <a href="{% url 'membership:form3_end_term' %}" class="btn btn-info"><strong>END TERM EXAM</strong></a> 
                    </div>
                    </div>
                    <div class="well">
                        <p>
                        <span class="p-color">
                            <strong>FORM FOUR</strong> 
                        </span>
                        </p>
                    <div class="text-center">
                        <a href="{% url 'membership:form4_mock1' %}" class="btn btn-info"><strong>MOCK1</strong></a> 
                        <a href="{% url 'membership:form4_mock2' %}" class="btn btn-info"><strong>MOCK2</strong></a> 
                        <a href="{% url 'membership:form4_mock3' %}" class="btn btn-info"><strong>MOCK3</strong></a> 
                        <a href="{% url 'membership:form4_revision' %}" class="btn btn-info"><strong>REVISION</strong></a> 
                    </div>
                    </div>
                </div>
                <br />
                <span class="p-color">
            <strong> <p>NUGGETS OF ACADEMIC EXCELLENCE</p> </strong>
                </span>
                <div class="p-color">
                    {% for item in study_tips %}
                <p> <a href="{% url 'membership:basic_form1_exams' %}"><strong>{{ item.tip1 }}</strong></a> </p>
                <p> <a href="{% url 'profiles:edit_self' %}"><strong>{{ item.tip2 }}</strong></a> </p>
                <p> <a href="{% url 'profiles:edit_self' %}"><strong>{{ item.tip3 }}</strong></a> </p>
                <p> <a href="{% url 'profiles:edit_self' %}"><strong>{{ item.tip4 }}</strong></a> </p>
                <p> <a href="{% url 'profiles:edit_self' %}"><strong>{{ item.tip5 }}</strong></a> </p>
                <p> <a href="{% url 'profiles:edit_self' %}"><strong>{{ item.tip6 }}</strong></a> </p>
                <p> <a href="{% url 'profiles:edit_self' %}"><strong>{{ item.tip7 }}</strong></a> </p>
                <p> <a href="{% url 'profiles:edit_self' %}"><strong>{{ item.tip8 }}</strong></a> </p>
                <p> <a href="{% url 'profiles:edit_self' %}"><strong>{{ item.tip9 }}</strong></a> </p>
                <p> <a href="{% url 'profiles:edit_self' %}"><strong>{{ item.tip10 }}</strong></a> </p>
                <p> <a href="{% url 'profiles:edit_self' %}"><strong>{{ item.tip11 }}</strong></a> </p>
                <p> <a href="{% url 'profiles:edit_self' %}"><strong>{{ item.tip12 }}</strong></a> </p>
                <p> <a href="{% url 'profiles:edit_self' %}"><strong>{{ item.tip13 }}</strong></a> </p>
                <p> <a href="{% url 'profiles:edit_self' %}"><strong>{{ item.tip14 }}</strong></a> </p>
                <p> <a href="{% url 'profiles:edit_self' %}"><strong>{{ item.tip15 }}</strong></a> </p>
                    {% endfor %}
                </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}


