{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }}News{% endblock %}

{% block content %}
<div class="container">

    <div class="text-center">
        <h2><span class="label label-default">Information Seminars and Workshops</span></h2>
    </div>

        <div class="row">
            <div class="col-xs-6 col-lg-4">
        <h3><span class="label label-default">{{ news.heading_one }}</span></h3>
                <img class="img" src="{{ news.image_one.url }}" height=200 width=400 alt="20x20">
                <p class="p-color">{{ news.text_one }}</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
        <h3><span class="label label-default">{{ news.heading_two }}</span></h3>
                <img class="img" src="{{ news.image_one.url }}" height=200 width=400 alt="20x20">
                <p class="p-color">{{ news.text_two }}</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
        <h3><span class="label label-default">{{ news.heading_three }}</span></h3>
                <img class="img" src="{{ news.image_three.url }}" height=200 width=400 alt="20x20">
                <p class="p-color">{{ news.text_three }}</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
        <h3><span class="label label-default">{{ news.heading_four }}</span></h3>
                <img class="img" src="{{ news.image_four.url }}" height=200 width=400 alt="20x20">
                <p class="p-color">{{ news.text_four }}</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
        <h3><span class="label label-default">{{ news.heading_five }}</span></h3>
                <img class="img" src="{{ news.image_five.url }}" height=200 width=400 alt="20x20">
                <p class="p-color">{{ news.text_five }}</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
        </div><!--/row-->
</div>
</div>

{% endblock content %}
