{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}About us{% endblock %}

{% block content %}
    
<div class="container">
<h3><span class="label label-default">About us</span></h3>
<div class="well">

<p>
The ESM is a team of specialists that are passionate about establishing local and international partnerships and collaborations for the development and internationalisation of higher education in East Africa through exhibitions, information seminars, conferences and institutional visits. Our Excellent Student Magazine offers an academically sound literature that enables learners to make informed choices in their academic and career aspirations. Our passion is anchored in our core values; passion, experience and flexibility. Our team comprises diverse and talented individuals whose backgrounds lie in teaching, student counseling and marketing.
</p>
<h4><strong>Events</strong></h4>
<p>
The ESM institutional Visits 
Institutional visits are one of the most effective methods of meeting prospective students, schools guidance counsellors and parents.  ESM organizes institutional visits in Kenya for admissions for local and international universities. The visits are also a perfect forum where we meet and interact with the readers of the ESM magazine to get views that can improve the readership of the magazine 
</p>
<p>
Our institutional visits are normally composed of, at most, two schools per day with a limit of 1 - 5 institutions for best impact, and are led and directed by our experienced student counsellors who have extensive knowledge of each school and the student community. Institutional visits typically involve panel discussions and workshops for students, school counselors & administration and parents. 
</p>
<p>
<h4><strong>The benefits of our institutional visits cannot be undervalued and include; </strong></h4>
<p>1.	One-to-one meetings with prospective students and networking activities with parents and guidance counselors; </p>
<p>2.	Market intelligence and specific career knowledge;</p>
<p>3.	Most of all these visits are the best option for institutions interested in meeting carefully targeted students without having to invest excessive student recruitment resources.</p>
<h4><strong>Education Information seminars </strong></h4>
Information seminars are one of the most effective marketing and recruitment tools for our partners. These seminars are organized either as a component of our ESM programs or as individual (or group) private seminars at selected schools. To organize individual or private group seminars we need to know three months in advance the date you would like to host your seminars.
</p>
</div>
</div>

{% endblock content %}

