{% load staticfiles %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <meta name="Excellent Student Magazine" content="Student Magazine">
    <link rel="shortcut icon" href="{% static 'site/img/favicon.ico' %}">

    <title>{% block title %}{% include "_brandname.html" %} | {% endblock %}</title>

    <!-- Custom tags for the head tag -->

<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" />
<link rel="stylesheet" href="{% static 'site/css/main.css' %}" />
<link rel="stylesheet" href="{% static 'site/css/custom1.css' %}" />
<link rel="stylesheet" href="{% static 'site/css/custom_carousel1.css' %}" />

    {% block extrahead %}{% endblock extrahead %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
<!-- ========================================================================================================== -->
      <div class="container">
          <div class="row row3">
                  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-margin1">
                      <a href="{% url 'home' %}">
                          <img class="img" src="{% static 'site/img/esm_logo-01.png' %}" height=140px width=294px alt="logo1">
                      </a>
                  </div>

                  <!-- ========================================================================================================== -->
         <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-margin1">

             <div id="carousel-0" class="carousel carousel1 slide carousel-fade" data-ride="carousel">
                 <!-- Carousel items -->
                 <div class="carousel-inner carousel-inner1">
                     {% for college in featured_colleges %}
                     <div class="active item item1">
                         <a href="{% url 'colleges:college_details' college.id %}" >
                             <img class="first-slide img" src="{% if college.photo1 %} {{ college.photo1.url }} {% endif %}" height=140px width=250px alt="logo1">
                         <div class="carousel-caption">
                             <strong>
                                 {{ college.name }}
                             </strong>
                         </div>
                         </a>
                     </div>
                     <div class="item item1">
                         <a href="{% url 'colleges:college_details' college.id %}" >
                             <img class="first-slide img" src="{% if college.photo1 %} {{ college.photo1.url }} {% endif %}" height=140px width=250px alt="logo1">
                         <div class="carousel-caption">
                             <strong>
                                 {{ college.name }}
                             </strong>
                         </div>
                         </a>
                     </div>
                             {% endfor %}
                 </div>
                 <!-- Carousel nav -->
                 <a class="carousel-control left" href="#carousel-0" data-slide="prev">&lsaquo;</a>
                 <a class="carousel-control right" href="#carousel-0" data-slide="next">&rsaquo;</a>
             </div>
         </div>
     <!-- ========================================================================================================== -->

         <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-margin1">

             <div id="carousel-1" class="carousel carousel1 slide carousel-fade" data-ride="carousel">
                 <!-- Carousel items -->
                 <div class="carousel-inner carousel-inner1">
                         {% for local_university in featured_local_uni %}
                     <div class="active item item1">
                         <a href="{% url 'universities:local_uni_details' local_university.id %}" >
        <img class="first-slide img" src="{% if local_university.photo1 %} {{ local_university.photo1.url }} {% endif %}" height=140px width=250px alt="logo1">
                         <div class="carousel-caption">
                             <strong>
                                     {{ local_university.name }}
                             </strong>
                         </div>
                         </a>
                     </div>
                     <div class="item item1">
                         <a href="{% url 'universities:local_uni_details' local_university.id %}" >
    <img class="second-slide img" src="{% if local_university.photo1 %} {{ local_university.photo1.url }} {% endif %}" height=140px width=250px alt="logo1">
                             <div class="carousel-caption">
                                 <strong>
                                     {{ local_university.name }}
                                 </strong>
                             </div>
                         </a>
                     </div>
                         {% endfor %}
                 </div>
                 <!-- Carousel nav -->
                 <a class="carousel-control left" href="#carousel-1" data-slide="prev">&lsaquo;</a>
                 <a class="carousel-control right" href="#carousel-1" data-slide="next">&rsaquo;</a>
             </div>
         </div>
         <!-- ================================================================================================================== -->
         <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-margin1">

             <div id="carousel-2" class="carousel carousel1 slide carousel-fade" data-ride="carousel">
                 <!-- Carousel items -->
                 <div class="carousel-inner carousel-inner1">
                     {% for inter_university in featured_inter_uni %}
                     <div class="active item item1">
                         <a  href="{% url 'universities:international_uni_details' inter_university.id %}" >
                             <img class="first-slide" src="{% if inter_university.university_photo1 %} {{ inter_university.university_photo1.url }} {% endif %}" height=140px width=250px alt="logo1">
                             <div class="carousel-caption">
                                 <strong>
                                     {{ inter_university.university_name }}
                                 </strong>
                             </div>
                         </a>
                     </div>
                     <div class="item item1">
                         <a  href="{% url 'universities:international_uni_details' inter_university.id %}" >
                             <img class="second-slide" src="{% if inter_university.university_photo1 %} {{ inter_university.university_photo1.url }} {% endif %}" height=140px width=250px alt="logo1">
                             <div class="carousel-caption">
                                 <strong>
                                     {{ inter_university.university_name }}
                                 </strong>
                             </div>
                         </a>
                     </div>
                     {% endfor %}
                 </div>
                 <!-- Carousel nav -->
                 <a class="carousel-control left" href="#carousel-2" data-slide="prev">&lsaquo;</a>
                 <a class="carousel-control right" href="#carousel-2" data-slide="next">&rsaquo;</a>
             </div>
         </div>
          
      </div>
</div>
<!-- ================================================================================================================ -->
    {% block navbar %}
    <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'excellence_profile:about_us' %}">About us</a></li>
                    <li><a href="{% url 'magazine:home' %}">Magazine</a></li>
                    <li><a href="{% url 'news:home' %}">Events</a></li>
                    <li><a href="{% url 'excellence_jobs:home' %}">Jobs</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Institutions <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'high_schools:home' %}">High Schools</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'colleges:home' %}">Colleges</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header"><strong>Universities</strong></li>
                            <li><a href="{% url 'universities:local_universities' %}">Local Universities</a></li>
                            <li><a href="{% url 'universities:international_universities' %}">International Universities</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'membership:home' %}">Examinations</a></li>
                    <li><a href="{% url 'contact:home' %}">Contact us</a></li>
                    <li>
                    </li>
                    <li>
                        <form class="navbar-form navbar-right">{% csrf_token %}
                            <div class="form-group">
                                <input type="text" placeholder="Enter search term" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-success">Go</button>
                        </form>
                    </li>
                </ul>
  <ul class="nav navbar-nav navbar-right navbar-right1">
            {% block navbar-right %}
              {% if user.is_authenticated %}
                {% if user.is_staff %}
                <li><a href="{% url 'admin:index' %}">Admin</a></li>
                {% endif %}
                {% if not user.is_staff %}
                <li><a href="{% url 'profiles:show_self' %}">My Profile</a></li>
                {% endif %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle profile-menu" data-toggle="dropdown">
    {% if show_user.profile.picture %}
			<img src="{% thumbnail user.profile.picture|default:'default_profile.png' 30x30 crop %}" alt="" />
    {% endif %}
			{{ user.get_full_name|truncatechars:20 }}
			<span class="caret"></span>
		    </a>
		    
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'profiles:show_self' %}">Profile</a></li>
                    <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                  </ul>
                </li>
              {% endif %}
            {% endblock %}
          </ul>
            </div>
        </nav>
    </div>
    {% endblock navbar %}

    <!-- ============================================================================================================ -->
    {% block messages %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">  <!-- singular -->
            <a class="close" data-dismiss="alert">×</a>
            {{ message|safe }}
          </div>
        {% endfor %}
      {% endif %}
    {% endblock %}

    
    {% block content %}
    {% endblock content %}

    <!-- ============================================================================================================== -->
    <!-- Site footer -->
    {% block footer %}
    <div class="text-center">
      <footer>
<!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        <nav>
          <ul class="nav nav-justified nav-justified1">
              <li class="active"><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'excellence_profile:about_us' %}">About us</a></li>
              <li><a href="{% url 'magazine:home' %}">Magazine</a></li>
              <li><a href="{% url 'news:home' %}">Events</a></li>
              <li><a href="{% url 'excellence_jobs:home' %}">Jobs</a></li>
              <li><a href="{% url 'contact:home' %}">Contact us</a></li>
          </ul>
        </nav>
      </div>
      <p><a href="{% url 'excellence_profile:excellence_copyright'%}">Company &copy;{% now 'Y' %}</a> Excellent Student Limited  <a href="{% url 'excellence_profile:terms_and_conditions'%}">Terms and Conditions</a></p>
      </footer>
    </div>
    {% endblock %}

<!-- ============================================================================================================== -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script>window.jQuery || document.write('<script src="{% static 'bootstrap/js/jquery.min.js' %}"><\/script>')</script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'site/js/carousel_fade.js' %}"></script>
    <!-- <script src="../../dist/js/bootstrap.min.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
    <!-- <script src="offcanvas.js"></script> -->
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>


