
{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }}Contact us{% endblock %}

{% block content %}

<div class="col-md-offset-4">
    <div id="sec3">
        <div class="container">
            <div class="row">
                <div id="address" class="col-md-4">
                    <div class="text-center">
                        <h2><span class="label label-default">Our Location</span></h2>
                        <address>
                            <strong>Excellence Student Magazine Ltd.</strong><br>
                            Green Span Mall, 2nd Floor.<br>
                            0726468536<br>
                            <abbr><strong>Email:</strong></abbr> phanuel@excellencestudentmagazine.com
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="col-md-offset-5">
    <h2><span class="label label-default">Email us</span></h2>
</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form method="post" action="">{% csrf_token %}
            {{ form | crispy }}
            <p><button class="btn btn-primary btn-block" type="submit" role="button"><strong>Send</strong></button></p>

        </form>
    </div>
</div>

{% endblock content %}
