
{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }}Contact us{% endblock %}

{% block content %}

<div class="col-md-offset-4">
    <div id="sec3">
        <div class="container">
            <div class="row">
                <div id="address" class="col-md-4">
                    <div class="text-center">
                        <address>
                            <strong>EXCELLENT STUDENT LIMITED</strong><br />
                            P.O BOX  25030-00603<br />
                            NAIROBI<br />
                            (Safaricom) +254 792 449 522,<br />
                            (Orange) +254 771 429 145 <br />
                            <abbr><strong>Email:</strong></abbr> info@excellencestudentmagazine.com
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="col-md-offset-5">
    <h2><span class="label label-default">Email us</span></h2>
</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form method="post" action="">{% csrf_token %}
            {{ form | crispy }}
            <p><button class="btn btn-primary btn-block" type="submit" role="button"><strong>Send</strong></button></p>

        </form>
    </div>
</div>

{% endblock content %}
