
{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

<div id="sec3">
  <div class="container">
    <div class="row">
        <div id="address" class="col-md-4">
          <h2>Our Location</h2>
          <address>
            <strong>Excellence Solutions Ltd.</strong><br>
            Taj Mahal<br>
            Agra<br>
            Uttar Pradesh<br>
            India - 282001<br>
            <abbr>P:</abbr> +91 0562 222 6431
          </address>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
    <h3>Email us:</h3>
</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form method="post" action="">{% csrf_token %}
            {{ form | crispy }}
            <p><button class="btn btn-primary" type="submit" role="button">Submit</button></p>

        </form>
    </div>
</div>

{% endblock %}
