{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }}{{ college_details }}{% endblock %}

{% block content %}


<div class="text-center">
    <h3>{{ college_details }}</h3>
</div>


    <div class="container">
        <div class="nav nav-sidebar">
            <div class="row">
                <div class="col-md-3 col-md-offset-4 text-center">
                        <p>
            <img class="img" src="{{ college_details.college_photo.url }}" height=50 width=50 alt="20x20">
            <p>
            {{ college_details.description }}
            </p>
                        </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
