{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }}Colleges{% endblock %}

{% block content %}


<div class="text-center">
    <h3><span class="label label-default">Colleges</span></h3>
</div>

<div class="container">
     <div class="row">
        <div class="col-xs-12 col-md-12">
<div class="well well1">         
<p>
Getting a good college marks the journey into higher education and the career world. The
following colleges have a variety of courses that you can choose from at the comfort of your
home to help you in making your decision concerning your higher education.
</p>
</div>           
          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->
        
</div> <!-- container-->       

    <div class="container">
            <div class="row">
                    {% for college in colleges %}
                <div class="col-md-4">
                    <p>
                    <h4>
                        <span class="label label-default">
                            {{ college.college_name }}
                        </span>
                    </h4>
                    </p>
                    <p>
                    {{ college.college_motto }}
                    </p>
                        <p>
                        <a class="btn btn-default btn-xs" href="{% url 'colleges:college_details' college.id %}" role="button">View details »</a>
                        </p>
                </div>
                    {% endfor %}
    </div>
{% endblock %}
