{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }}Jobs{% endblock %}

{% block content %}


<div class="text-center">
<p><a class="btn btn-primary" href="{% url 'kazi:post_job' %}" role="button">Post a Job Here</a></p>
    <h3><span class="label label-default">Available Jobs:</span></h3>
</div>
<div class="row">
    <div class="list-group">
            <div class="col-md-4">

            </div>

            <div class="col-md-4">
                {% for item in job_details %}
                    <a class="list-group-item text-center" href="{% url 'kazi:job_details' item.id %}">
                        <p class="p-color"><strong>{{ item.school }}</strong></p>
                        <p class="p-color"><strong>{{ item.job_title }}</strong></p>
                        <p><strong>Posted on:</strong> {{ item.published }}</p>
                    </a>
                {% endfor %}
            </div>

            <div class="col-md-4">

            </div>
    </div>
</div>

{% endblock %}
