{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }}Jobs{% endblock %}

{% block content %}


<div class="text-center">
<p><a class="btn btn-primary" href="{% url 'excellence_jobs:post_job' %}" role="button">Post a Job Here</a></p>
    <h3><span class="label label-default">Available Jobs:</span></h3>
</div>
<div class="row">
    <div class="list-group">
            <div class="col-md-4">

            </div>

            <div class="col-md-4">
                {% for job in jobs %}
                    {% if job.job_title %}
                    <a class="list-group-item text-center" href="{% url 'excellence_jobs:available_jobs' job.job_title %}">
                        <p>{{ job.job_title }}</p>
                    </a>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="col-md-4">

            </div>
    </div>
</div>

{% endblock %}
