{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }}Jobs{% endblock %}

{% block content %}


<div class="text-center">
<p><a class="btn btn-primary" href="{% url 'excellence_jobs:post_job' %}" role="button">Post a Job Here</a></p>
    <h3><span class="label label-default">Job Details:</span></h3>
</div>
<div class="row">
    <div class="container">
        <div class="col-md-12 well well1">
            {% for item in job_details %}
            <div class="text-center">
                <h4>
                    <p class="p-color"><strong>{{ item.school }}</strong></p>
                </h4>
                <strong>
                    {% if item.email %}
                    Email:<a href="#">
                        <span class="p-color">{{ item.email }}</span><br />
                    </a>
                    {% endif %}
                    {% if item.phone %}
                    Tel:<span class="p-color">{{ item.phone }}</span><br />
                    {% endif %}
                    {% if item.website %}
                    Website:<a href="#">
                        <span class="p-color">{{ item.website }}</span>
                    </a>
                    {% endif %}
                </strong>
            </div>
            <p>{{ item.job_description1 }}</p>
            <p>{{ item.job_description2 }}</p>
            <p>{{ item.job_description3 }}</p>
            <p>{{ item.job_description4 }}</p>
            <p>{{ item.job_description5 }}</p>
            <p><strong>Posted on: <span class="p-color">{{ item.pub_date }}</span></strong></p>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}
