{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ block.super }}Premium Membership{% endblock %}

{% block content %}
    
<div class="container">
    <span class="text-center">
    <p><h2><span class="label label-default text-center">Premium Membership </span></h2></p>
    <br />
        <p>
        This service is meant for schools only. To upgrade your account to
        Premium
        membership, Kindly contact the administrator on the contacts given on
        this site and you
        will be guided appropriately
        </p>

        <h2> <p class="label label-default">Mpesa</p> </h2>

        <h4> <p>Lipa na Mpesa</p> </h4>

        <p><strong>Till Number:</strong>&nbsp;&nbsp;<span class="p-color"><strong>133484</strong></span></p>

        <h2> <p class="label label-default">Bank</p> </h2>

        <p><strong>Bank:</strong>&nbsp;&nbsp;<span class="p-color"><strong>KCB Gigiri Square</strong></span></p>
        <p><strong>Account Name:</strong>&nbsp;&nbsp;<span class="p-color"><strong>Excellent Student Limited</strong></span></p>
        <p><strong>Account Number:</strong>&nbsp;&nbsp;<span class="p-color"><strong>1179035593</strong></span></p>

        <h2> <p class="label label-default">Visa/Mastercard</p> </h2>
    </span>
</div>

{% endblock content %}

