{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }}{{ high_school_details }}{% endblock %}

{% block content %}


<div class="text-center">
    <h2><span class="label label-default">{{ high_school_details }}</span></h2>
</div>


    <div class="container">
        <div class="nav nav-sidebar">
            <div class="row">
                <div class="col-md-3 col-md-offset-4 text-center">
                        <p>
            <img class="img" src="{{ high_school_details.high_school_photo.url }}" height=50 width=50 alt="20x20">
            <p>
            {{ high_school_details.description }}
            </p>
                        </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
