{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }}High Schools{% endblock %}

{% block content %}


<div class="text-center">
    <h3><span class="label label-default">High Schools</span></h3>
</div>
<div class="container">
     <div class="row">
        <div class="col-xs-12 col-md-12">
<div class="well well1">         
<p class="text-center">
Looking to transfer your child from where he is currently schooling or looking for a new school?
ESM offers a list of high performing schools that meet the excellence standards for success for
your child. The following list of schools has been verified by our team of counselors and
academic experts and found to be suitable for your educational needs. There are contact details
that you can use in contacting the schools’ administrators.
</p>
</div>           
          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->
        
</div> <!-- container-->       

    <div class="container">
            <div class="row">
                    {% for school in schools %}
                <div class="col-md-4">
                    <p>
                    <h4>
                        <span class="label label-default">
                            {{ school.high_school_name }}
                        </span>
                    </h4>
                    </p>
                    <p>
                    {{ school.high_school_motto }}
                    </p>
                        <p>
                        <a class="btn btn-default btn-xs" href="{% url 'high_schools:high_school_details' school.id %}" role="button">View details »</a>
                        </p>
                </div>
                    {% endfor %}
    </div>

{% endblock %}
