{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}


<div class="text-center">
    <h3>Local Universities:</h3>
</div>

    <div class="container">
        <div class="nav nav-sidebar">
            <div class="row">
                <div class="col-md-3">
                    {% for university in universities %}
                    <a class="list-group-item"  href="#">
                        <p>
                        {{ university.university_name }}
                        </p>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
