{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }}{{ local_university_details }}{% endblock %}

{% block content %}

<div class="text-center">
    <h3><span class="label label-default">{{ local_university_details }}</span></h3>
    {% if local_university_details.university_logo %}
    <img class="" src="{{ local_university_details.university_logo.url }}" height=100px width=100px alt="20x20">
    {% endif %}
</div>

 <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9 well well1">
          <div class="row">
              <div class="container">
                  <div class="col-xs-12 col-md-5 col-sch">
                      {% if local_university_details.university_photo1 %}
                      <img class="thumbnail thumbnail1" src="{{ local_university_details.university_photo1.url }}" height=200px width=300px alt="20x20">
                      {% endif %}
                  </div><!--/.col-xs-6.col-lg-4-->
                  <div class="col-xs-12 col-md-5 col-sch">
                      {% if local_university_details.description1 %}
                      <p class="p-color">
                      {{ local_university_details.description1 }}
                      </p>
                      {% endif %}
                  </div><!--/.col-xs-6.col-lg-4-->
              </div>
              <div class="container">
                  <div class="col-xs-12 col-md-5 col-sch">
                      {% if local_university_details.university_photo2 %}
                      <img class="thumbnail thumbnail1" src="{{ local_university_details.university_photo2.url }}" height=200px width=300px alt="20x20">
                      {% endif %}
                  </div><!--/.col-xs-6.col-lg-4-->
                  <div class="col-xs-12 col-md-5 col-sch">
                      {% if local_university_details.description2 %}
                      <p class="p-color">
                      {{ local_university_details.description2 }}
                      </p>
                      {% endif %}
                  </div><!--/.col-xs-6.col-lg-4-->
              </div>
              <div class="container">
                  <div class="col-xs-12 col-md-5 col-sch">
                      {% if local_university_details.university_photo3 %}
                      <img class="thumbnail thumbnail1" src="{{ local_university_details.university_photo3.url }}" height=200px width=300px alt="20x20">
                      {% endif %}
                  </div><!--/.col-xs-6.col-lg-4-->
                  <div class="col-xs-12 col-md-5 col-sch">
                      {% if local_university_details.description3 %}
                      <p class="p-color">
                      {{ local_university_details.description3 }}
                      </p>
                      {% endif %}
                  </div><!--/.col-xs-6.col-lg-4-->
              </div>
              <div class="container">
                  <div class="col-xs-12 col-md-5 col-sch">
                      {% if local_university_details.university_photo4 %}
                      <img class="thumbnail thumbnail1" src="{{ local_university_details.university_photo4.url }}" height=200px width=300px alt="20x20">
                      {% endif %}
                  </div><!--/.col-xs-6.col-lg-4-->
                  <div class="col-xs-12 col-md-5 col-sch">
                      {% if local_university_details.description4 %}
                      <p class="p-color">
                      {{ local_university_details.description4 }}
                      </p>
                      {% endif %}
                  </div><!--/.col-xs-6.col-lg-4-->
              </div>
              <div class="container">
                  <div class="col-xs-12 col-md-5 col-sch">
                      {% if local_university_details.university_photo5 %}
                      <img class="thumbnail thumbnail1" src="{{ local_university_details.university_photo5.url }}" height=200px width=300px alt="20x20">
                      {% endif %}
                  </div><!--/.col-xs-6.col-lg-4-->
                  <div class="col-xs-12 col-md-5 col-sch">
                      {% if local_university_details.description5 %}
                      <p class="p-color">
                      {{ local_university_details.description5 }}
                      </p>
                      {% endif %}
                  </div><!--/.col-xs-6.col-lg-4-->
              </div>
          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-12 col-sm-3 sidebar-offcanvas" id="sidebar">
            <div class=" well well1">
                <div class="sidebar-module">
                    <h3><span class="label label-default">Special courses offered</span></h3>
                    <ul">
                        {% if local_university_details.course_one %}
                        <li><a href="#">{{ local_university_details.course_one }}</a></li>
                        {% endif %}
                        {% if local_university_details.course_two %}
                        <li><a href="#">{{ local_university_details.course_two }}</a></li>
                        {% endif %}
                        {% if local_university_details.course_three %}
                        <li><a href="#">{{ local_university_details.course_three }}</a></li>
                        {% endif %}
                        {% if local_university_details.course_four %}
                        <li><a href="#">{{ local_university_details.course_four }}</a></li>
                        {% endif %}
                        {% if local_university_details.course_five %}
                        <li><a href="#">{{ local_university_details.course_five }}</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="sidebar-module sidebar-module-inset text-center">
                    <h3><span class="label label-default">Contact us</span></h3>
                    <address class="p-color">
                    {{ local_university_details }} <br />
                    P.O BOX {{ local_university_details.po_box }}<br />
                    {{ local_university_details.location }}<br />
                    {{ local_university_details.phone }}<br />
                    {{ local_university_details.email }}<br />
                    {% if local_university_details.website %}
                    <a href="#">
                    {{ local_university_details.website }}
                    </a>
                    {% endif %}
                    </address>
                </div>
                <div class="sidebar-module">
                    <h4 class="text-center"><span class="label label-default">Find us on</span></h4>
                    <ol class="list-unstyled text-center">
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ol>
                </div>
                <h4><span class="label label-default">Downloads</span></h4>
            </div>
        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->


{% endblock content %}

