{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }}Local Universities{% endblock %}

{% block content %}


<div class="text-center">
    <h3><span class="label label-default">Local Universities</span></h3>
</div>


<div class="container">
     <div class="row">
        <div class="col-xs-12 col-md-12">
<div class="well well1">
<p>         
With an increase in the number of universities being established in the country, selecting a
credible university for your undergraduate studies can be quite tasking. However, with ESM, we
bring you a list of credible and world-class universities that will answer your worries with a
click. From the following list, just click and contact the university via the details given.
</p>
</div>           
          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->
        
</div> <!-- container-->       

    <div class="container">
            <div class="row">
                    {% for local_university in local_universities %}
                <div class="col-md-4">
                    <p>
                    <h4>
                        <span class="label label-default">
                            {{ local_university.university_name }}
                        </span>
                    </h4>
                    </p>
                    <p>
                    {{ local_university.university_motto }}
                    </p>
                        <p>
                        <a class="btn btn-default btn-xs" href="{% url 'universities:local_uni_details' local_university.id %}" role="button">View details »</a>
                        </p>
                </div>
                    {% endfor %}
    </div>
{% endblock %}
