body {
  /* background-color:#7FAB8E; */
  background-color: #50BF43;
  padding-top: 0px;
  color: #fff;
}
.label-default {
  background-color: #532560;
}
.btn-primary {
  color: #fff;
  background-color: #0FA946;
  border-color: #0FA946;
}

.p-color {
  color: #532560;
  font-size: 100%
}

.well1 {
  background-color: #739E6E;
  padding: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding:10px;
}
.jumbotron {
  /* background-color:#A6C1A7; */
  background-color: #67496B;
}
.list-group-item {
  /* background-color:#A6C1A7; */
  background-color: #739E6E;
  padding: 2px;
}
.navbar-inverse {
  background-color: #532571;
  border-color: #080808;
}
.navbar {
  min-height: 60px;
  margin-bottom: 6px;
  margin-top: 1px;
}
.navbar-static-top {
    margin-left: -48px;
    margin-right: -90px;
}
.collapse.collapse {
    padding: 0px;
    /* width: 1040px; */
}
a.list-group-item .list-group-item-heading,
button.list-group-item .list-group-item-heading {
  color: #ddd;
}
a.list-group-item,
button.list-group-item {
  color: #ddd;
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-right: 3px;
  padding-left: 3px;
}
.paddding1{
    padding-right: 3px;
    padding-left: 86px;
}

.col-margin1{
    margin-right: -87px;
    margin-left: 81px;
}
.col-margin2{
    margin-right: -95px;
    margin-left: 59px;
}
.col-sch {
    padding-bottom: 10px;
    padding-right: 0px;
    margin-left: 18px;
    margin-right: -80px;
}
.row {
  margin-right: -30px;
  margin-left: -30px;
}
.row1 {
    margin-right: -78px;
    margin-left: -64px;
}
.row4 {
    margin-right: -78px;
    margin-left: -23px;
}
.row2{
    /* margin-right: -78px; */
    margin-left: -3px;
}

.row3{
    /* margin-right: -78px; */
    margin-left: -123px;
}
.nav-justified1 {
    background-color: #532571;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 19px 6px;
}
.thumbnail1 {
    margin-bottom: 0px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  height: 380px;
}

.carousel-inner1 > .item1 > img,
.carousel-inner1 > .item1 > a > img {
  width: 100%;
  height: 140px;
}
.profile-head {
    padding: 69px 19px 30px 38px;
    width: 1066px;
}
